* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(191, 191, 191);
    font-weight: 300;
}

main{
    height: 100vh;
    background:#0a0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.glass{
    min-width: 640px;
    width: 60%;
    height: 80%;
    background: rgba(39, 39, 39, 0.4);
    border-radius: 2rem;
    display: flex;
}

.dashboard{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.info{
    flex:2;
    background: rgba(16, 16, 16, 0.5);
    border-radius: 0rem 2rem 2rem 0rem ;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info pre{
    overflow-y: auto;
}

.info .tab{
    border-radius: 0rem 2rem 0rem 0rem;
    width: 100%;
    background: rgba(16, 16, 16, 1);;
    padding: 0.5rem 1rem 0.5rem 0rem;
}

.tab pre{
    font-weight: 500;
}

.avatar img{
    border-radius: 50%;
    background-size: cover;
    width: 10rem;
    box-shadow: 0rem 0rem 1rem 0.1rem rgba(0, 0, 0, 0.25);
}

.links img{
    width: 1.5rem;
}

.links a{
    text-decoration: none;
}

.links a::selection{
    text-decoration: none;
}

.link {
    display: flex;
    margin: 1rem;
    align-items: center;
}

.json-key {
color: rgb(165, 106, 42);
}

.json-value {
color: rgb(60, 109, 155);
}

.json-string {
color: rgb(163, 66, 36);
}

@keyframes blik {
    50%{
        opacity: 0;
    }
}

.blik1{
    position: absolute;
    top: 15%;
    left: 10%;
    background: whitesmoke;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    animation: blik 5s linear infinite;
}

.blik2{
    position: absolute;
    right: 5%;
    bottom: 10%;
    background: whitesmoke;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    animation: blik 7s linear infinite;
}

.blik3{
    position: absolute;
    left: 5%;
    bottom: 35%;
    background: whitesmoke;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    animation: blik 3s linear infinite;
}

.blik4{
    position: absolute;
    right: 10%;
    top: 25%;
    background: whitesmoke;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    animation: blik 2.5s linear infinite;
}

.blik5{
    position: absolute;
    right: 40%;
    top: 5%;
    background: whitesmoke;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    animation: blik 4.5s linear infinite;
}

.blik6{
    position: absolute;
    left: 45%;
    bottom: 5%;
    background: whitesmoke;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    animation: blik 8.5s linear infinite;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

#scrollable::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #615d5d;
}

#scrollable::-webkit-scrollbar
{
	width: 10px;
	background-color: #4d4d4d;
}

#scrollable::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(79, 78, 78);
}

@media (max-width: 900px) {
    
    .glass{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: relative;
    }

    .dashboard{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .avatar img{
        width: 5rem;
    }

    .info {
        background: rgba(16, 16, 16, 1);
        border-radius: 0;
    }

    .glass{
        border-radius: 0;
        background: none;
    }

    .dashboard{
        padding-bottom: 1rem;
        position: sticky;
        top: 0;
    background: rgba(39, 39, 39, 0.8);

    }
}